<script src="/assets/js/main.min.js"></script>

<!-- // to top button -->
<a href="#" class="scrollup">Наверх</a>

<script type="text/javascript">
  $(document).ready(function () {
    $(window).scroll(function () {
      if ($(this).scrollTop() > 300) {
        $(".scrollup").fadeIn();
      } else {
        $(".scrollup").fadeOut();
      }
    });

    $(".scrollup").click(function () {
      $("html, body").animate({ scrollTop: 0 }, 600);
      return false;
    });
  });
</script>

<!-- // Ukranian ribbon on top left of the site -->
<script src="https://cdn.jsdelivr.net/npm/save-ukraine@0.18.0/dist/umd/main.js"></script>
<script>
  Ukraine.save({
    ribbon: "TOP_LEFT",
    hasShadow: true,
    countries: [],
    moreInfoUrl: `/support-ukraine`,
  });
</script>

<a class="popup-modal" id="popup-caller" href="#test-modal">Open modal</a>

<div class="mfp-content" id="mfp-modal-popup">
  <div id="test-modal" class="mfp-hide white-popup-block">
    <h1>
      <g-emoji
        class="g-emoji"
        alias="ukraine"
        fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f1fa-1f1e6.png"
        >🇺🇦</g-emoji
      >
      УКРАИНА НУЖДАЕТСЯ В ВАШЕЙ ПОМОЩИ!
      <g-emoji
        class="g-emoji"
        alias="ukraine"
        fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/1f1fa-1f1e6.png"
        >🇺🇦</g-emoji
      >
    </h1>
    <div id="frame1">
      <p>
        Сегодня <span id="daysOfWar"></span>-й день полномасштабного вторжения.
        Войны, которую начала россия против Украины. Подобно фашистам, в 4 утра,
        российская армия без формального объявления войны вторглась на
        территорию Украины.
      </p>
      <p>
        В то страшное утро я проснулся от взрывов. Российские ракеты ударили в
        аэродром, который находился в моем родном городе. Такие удары были по
        всей стране. Я до сих пор не могу поверить в то, что случилось.
        Российская агрессия уже второй раз заставляет меня и мою семью
        переезжать из Донбасса, бросать своё жилье, друзей, любимое дело. В
        2014-м году я покинул Краматорск и уехал жить и работать в Кривой Рог. В
        2022-м Кривой Рог уже не был безопасным местом для меня и моей семьи.
      </p>
      <p>
        Сейчас мы снова скитаемся. Я не знаю будет ли цел мой дом. Не знаю
        переживут ли войну мои друзья и родственники, которые остались в городе.
        И сейчас такая ситуация у каждого Украинца. Каждый день тревога, каждый
        день что-то ощутимо взрывается. Каждый день гибнут дети и взрослые. И
        всё это принесла нам россия. Так называемые "освободители".
      </p>
      <p>
        Огромное количество молодых ребят с обоих сторон гибнут сейчас на
        территории Украины. Но если каждому понятно за что гибнут украинцы, то
        понять за что гибнут росияне не может никто.
      </p>
      <p>
        "Если не знаешь как поступить - поступи правильно". И для каждого
        россиянина может быть только один правильный поступок - не идти воевать,
        не пускать на войну своих отцов, сыновей, братьев. Сохраните свои жизни
        и жизни наших Защитников. Помните о том, что выполнение преступного
        приказа так же является преступлением.
      </p>
      <p>
        <strong>
          <a class="popup-modal-support-russia" href="#"
            >Я поддерживаю военную агрессию России против Украины!</a
          ></strong
        >
      </p>
      <p>
        <strong>
          <a class="popup-modal-support-ukraine" href="#"
            >Я против войны в Украине!</a
          ></strong
        >
      </p>
    </div>
    <div id="frame2">
      <h2>Как помочь Украине?</h2>
      <ul>
        <li>
          Помочь можно финансово с помощью банковского перевода, или перевода на
          крипто-валютный кошелёк. Список реквизитов есть на сайте
          <a
            href="https://war.ukraine.ua/ru/podderzhyte-ukraynu/"
            target="_blank"
            >war.ukraine.ua</a
          >
        </li>
        <li>
          Вы можете помочь в распространении правды о войне в Украине. Ежечасно
          тысячи телеграмм-каналов и каналов в youtube собирают информацию о
          военных преступлениях россии на территории Украины. Найти список таких
          каналов можно на сайте
          <a href="https://manifest.in.ua/war/" target="_blank"
            >manifest.in.ua</a
          >. Не верьте на слово, зайдите в региональные телеграм-каналы и
          прочитайте что пишут там люди.
        </li>
        <li>
          Не доверяйте и не распространяйте информацию с пророссийских youtube и
          telegram-каналов. Ничего, кроме лжи вы там не услышите.
        </li>
        <li>
          Прислушивайтесь к тому, что говорят независимые расследовательные
          группы, например
          <a href="https://www.bellingcat.com/" target="_blank">Bellingcat</a>,
          <a href="https://www.hrw.org/ru" target="_blank"
            >Human Rights Watch</a
          >
          или
          <a href="https://www.youtube.com/c/MackNack/" target="_blank"
            >Conflict Intelligence Team</a
          >. Проверяйте не является ли новость фейком, например через канал
          <a href="https://www.youtube.com/c/FakeNewsTvrain" target="_blank"
            >Fake News</a
          >. Помните, что украинцы защищают свои земли и своё право на
          существование. Мы не убиваем своих людей ради красивой картинки и
          поддержки запада. Российская армия не нуждается в дополнительной
          дискредитации. Она и так прекрасно с ней справляется.
        </li>
        <li>
          Не доверяйте авторитетам. Лучше посмотрите на какую информацию
          авторитет ссылается. Очень часто такая информация говорит сама за
          себя.
        </li>
      </ul>

      <p>
        <strong
          ><a class="popup-modal-close" href="#">Перейти к гайду</a></strong
        >
      </p>
    </div>
  </div>
</div>
