{% if author.tg %}
<li>
  <a href="https://t.me/{{ author.tg }}" target="_blank" itemprop="sameAs">
    <i class="fa fa-fw fa-telegram" aria-hidden="true"></i> Telegram (чипування)
  </a>
</li>
{% endif %}
{% if author.tg_group %}
<li>
  <a href="https://t.me/{{ author.tg_group }}" target="_blank" itemprop="sameAs">
    <i class="fa fa-fw fa-telegram" aria-hidden="true"></i> Група в Telegram
  </a>
</li>
{% endif %}
{% if author.phone %}
<li>
  <a href="tel:{{ author.phone }}" target="_blank" itemprop="sameAs">
    <i class="fa fa-fw fa-phone" aria-hidden="true"></i> Телефон
  </a>
</li>
{% endif %}
{% if author.viber %}
<li>
  <a href="viber://{{ author.viber }}" target="_blank" itemprop="sameAs">
    <i class="fa fa-fw fa-whatsapp" aria-hidden="true"></i> Viber
  </a>
</li>
{% endif %}