<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
        <ul class="visible-links">
          {%- assign navigation = site.data.navigation -%}
          {%- assign nav_list = navigation.main -%}

          {%- for link in nav_list -%}
          <li class="masthead__menu-item">
            <a href="{{ link.url | relative_url }}" {% if link.description %} title="{{ link.description }}" {% endif
              %}>{{ link.title }}</a>
          </li>
          {%- endfor -%}
        </ul>

        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>