<!-- stay for Ukraine css and js -->
<script src="https://customfw.xyz/js/stand_for_ukraine.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://customfw.xyz/css/stay_for_ukraine.css" crossorigin="anonymous" />
<!-- // stay for Ukraine css and js -->

<!-- preloader -->
<div id="preloader" class="preloader"></div>
<!-- // preloader -->

<!-- flag on the left top corner -->
<div id="ukranian-flag"></div>
<!-- // flag on the left corner -->

<!-- Pop-up container -->
<div id="stay-for-ukraine-popup"></div>