BLUE = 0x0000FF
YELLOW = 0xFFFF00
RED = 0xFF0000
GREEN = 0x00FF00
WHITE = 0xFFFFFF
ORANGE = 0xFFA500
VIOLET = 0x8F00FF

p=println
pe={pause() exit()}

color(BLUE);
p("TegraScript Syncfix.te by MezBar");
p("Ported to TegraScript v3 by xHR")
p("");
color(YELLOW);
p("This script will fix joy-cons sync issue between SYSMMC and EMUMMC");
p("Before using this script, pair all your joy-con and controllers to your SYSMMC");
p("");
color(RED);
p("If you're running 90DNS or any other DNS settings");
p("please go in airplane mode on both SYSMMC");
p("and EMUMMC because this script will copy");
p("also the wifi settings from your SYSMMC to EMUMMC");
p("");
color(GREEN);
p("If you're running incognito you can proceed without go in airplane mode");
p("");
color(WHITE);

p("");
p("Press 'X' to sync both WiFi and Bluetooth settings from SYSMMC to EMUMMC");
p("");
color(ORANGE);
p("Press any other button to exit");
p("");


op=["Exit","Sync both WiFi and Bluetooth settings from SYSMMC to EMUMMC"].copy()
if (emu()){op+"Wipe emummc"}
r=menu(op,0)clear()
if(r==0){exit()}

p("");
if(r==1){if(!emu()){p("EMUMMC not found!")pe()}}
color(WHITE);
p("Mounting sysMMC...");
if(mountsys("SYSTEM")){p("Mount failed!")pe()}


mkdir("sd:/tegraexplorer");
mkdir("sd:/tegraexplorer/syncfix");
mkdir("sd:/tegraexplorer/syncfix/backup");
p("Backing up SYSMMC 8000000000000050 file to sd:/tegraexplorer/syncfix/backup");
copyfile("bis:/save/8000000000000050", "sd:/tegraexplorer/syncfix/backup/8000000000000050_sysmmc_backup");


color(VIOLET);
p("Mounting eumMMC");

if(mountemu("SYSTEM")){p("Mount failed!")pe()}


p("Backing up EMUMMC 8000000000000050 file to sd:/tegraexplorer/syncfix/backup");
p("");
copyfile("bis:/save/8000000000000050", "sd:/tegraexplorer/syncfix/backup/8000000000000050_emummc_backup");


p("Copying 8000000000000050 file from SYSMMC to EMUMMC");
p("");
copyfile("sd:/tegraexplorer/syncfix/backup/8000000000000050_sysmmc_backup", "bis:/save/8000000000000050");


color(GREEN);
p("DONE!");
p("");
p("Now your joy-cons should be synched between SYSMMC and EMUMMC");
p("");

color(ORANGE);
p("Press any button to exit");

pe();